@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-ExtraLight.ttf);
  font-weight: 200;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 60px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e74c3c;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover {
  color: #e74c3c;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .header-nav {
    position: relative;
  }
  .header-nav .toggler-icon {
    margin-right: 20px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .header-nav .toggler-icon:hover {
    color: #e74c3c;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
  }
  .header-nav .nav-bar .nav-item::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #e74c3c;
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #000;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    font-size: 26px;
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bino-btn {
  display: inline-block;
  text-align: center;
  border: none;
  background: #e74c3c;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.bino-btn:hover {
  background: #bf2718;
}

.divider {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}

.divider__line {
  width: 80px;
  height: 1px;
  background: #999;
}

.divider__circle {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #e74c3c;
  margin: 0 14px;
}

header {
  position: relative;
  width: 100%;
}

header .top-header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  padding: 40px 0;
}

header .top-header__block {
  width: inherit;
  margin: 0 auto;
}

header .header-slider {
  width: inherit;
}

header .header-slider__slide {
  width: inherit;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  text-align: center;
  color: #fff;
}

header .header-slider__slide::before {
  background: rgba(0, 0, 0, 0.7);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

header .header-slider__slide * {
  z-index: 10;
}

header .header-slider__slide h2 {
  margin: 0;
  margin-top: 325px;
  margin-bottom: 50px;
  font-family: SourceSans;
  font-size: 24px;
  font-weight: 400;
}

header .header-slider__slide h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

header .header-slider__slide .divider {
  margin: 45px 0;
}

header .header-slider__slide .divider__line {
  background: #f1ebe7;
}

header .header-slider__slide p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #cbc6c0;
  width: 400px;
}

header .header-slider__slide .header-btn {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-bottom: 260px;
}

header .header-slider__slide .header-btn .bino-btn {
  width: 225px;
}

header .header-slider__slide .header-btn .bino-btn_white {
  margin-left: 30px;
  background: transparent;
  border: 2px solid #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

header .header-slider__slide .header-btn .bino-btn_white:hover {
  border: 2px solid #d62c1a;
  background: #bf2718;
}

header .header-slider__slide_01 {
  background: url(../img/header__bg_01.jpg) no-repeat center/cover;
}

header .header-slider__slide_02 {
  background: url(../img/header__bg_02.jpg) no-repeat center/cover;
}

header .header-slider__slide_03 {
  background: url(../img/header__bg_03.jpg) no-repeat center/cover;
}

header .header-triangle {
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 0;
  border-bottom: 123px solid #fff;
}

header .header-triangle__left {
  left: 0;
  border-left: 0px solid transparent;
  border-right: 50vw solid transparent;
}

header .header-triangle__right {
  right: 0;
  border-left: 50vw solid transparent;
  border-right: 0px solid transparent;
}

header .header-slider__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 3px;
  background: #6f6863;
  color: #3d3630;
  cursor: pointer;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

header .header-slider__nav i {
  font-size: 35px;
}

header .header-slider__nav:hover {
  color: #fff;
  background: #e74c3c;
}

header .header-slider__nav_next {
  right: 2.5%;
}

header .header-slider__nav_prev {
  left: 2.5%;
}

header .header-down__icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
  transform: translate(-50%, 40%);
  width: 73px;
  height: 73px;
  background: #f4f5f9;
  border: 5px solid #e74c3c;
  border-radius: 73px;
  cursor: pointer;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .7s;
  transition: all, .7s;
}

header .header-down__icon img {
  -webkit-transition: all, .5s;
  transition: all, .5s;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

header .header-down__icon:hover {
  background: #e74c3c;
}

header .header-down__icon:hover img {
  -webkit-filter: brightness(400%);
  filter: brightness(400%);
}

@media only screen and (max-width: 1199px) {
  header .header-triangle {
    border-bottom: 100px solid #fff;
  }
}

@media only screen and (max-width: 991px) {
  header .top-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    z-index: 100;
    padding: 30px 0;
  }
  header .top-header__block .header__logo {
    margin-left: 20px;
  }
  header .header-slider__slide h2 {
    margin-top: 280px;
    margin-bottom: 40px;
    font-size: 22px;
  }
  header .header-slider__slide h1 {
    font-size: 48px;
  }
  header .header-slider__slide .divider {
    margin: 40px 0;
  }
  header .header-slider__slide p {
    width: 400px;
  }
  header .header-slider__slide .header-btn {
    margin-top: 60px;
    margin-bottom: 200px;
  }
  header .header-slider__slide .header-btn .bino-btn {
    width: 195px;
  }
  header .header-triangle {
    border-bottom: 75px solid #fff;
  }
  header .header-down__icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

@media only screen and (max-width: 767px) {
  header .header-slider__slide h2 {
    margin-top: 175px;
  }
}

@media only screen and (max-width: 575px) {
  header .header-slider__slide h2 {
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  header .header-slider__slide h1 {
    font-size: 34px;
  }
  header .header-slider__slide .divider {
    margin: 30px 0;
  }
  header .header-slider__slide p {
    width: 250px;
    font-size: 12px;
  }
  header .header-slider__slide .header-btn {
    margin-top: 50px;
    margin-bottom: 150px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .header-slider__slide .header-btn .bino-btn {
    width: 175px;
    font-size: 12px;
  }
  header .header-slider__slide .header-btn .bino-btn_white {
    margin-left: 0;
    margin-top: 25px;
  }
  header .header-triangle {
    border-bottom: 55px solid #fff;
  }
  header .header-slider__nav {
    top: 73%;
  }
}

.who-we {
  margin-top: 125px;
  margin-bottom: 80px;
}

.who-we-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.who-we-block__square {
  width: 71px;
  height: 71px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .5s;
  transition: all, .5s;
  margin-bottom: 30px;
}

.who-we-block__square img {
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.who-we-block__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #6a6a6a;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.who-we-block__line {
  width: 40px;
  height: 1px;
  background: #888;
  margin: 20px 0;
}

.who-we-block__discr {
  font-family: SourceSans;
  font-weight: 400;
  font-size: 14px;
  color: #999;
}

.who-we-block:hover .who-we-block__square {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #e74c3c;
}

.who-we-block:hover .who-we-block__square img {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.who-we-block:hover .who-we-block__title {
  color: #e74c3c;
}

@media only screen and (max-width: 1199px) {
  .who-we {
    margin-top: 110px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 991px) {
  .who-we {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .who-we-block {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .who-we {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .who-we-block__discr {
    width: 80%;
  }
}

#about-us {
  width: 100%;
  padding: 140px 0;
  border-top: 1px solid #e6e7eb;
}

#about-us .about-us__image img {
  width: 95%;
}

#about-us .about-us__info h1 {
  font-family: SourceSans;
  font-size: 36px;
  font-weight: 700;
  color: #6a6a6a;
  text-transform: uppercase;
  border-left: 6px solid #e74c3c;
  padding-left: 30px;
}

#about-us .about-us__info p {
  margin: 0 auto;
  font-family: SourceSans;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin-top: 15px;
}

#about-us .about-us__info .bino-btn {
  margin-top: 35px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1199px) {
  #about-us {
    padding: 110px 0;
  }
}

@media only screen and (max-width: 991px) {
  #about-us {
    padding: 70px 0;
  }
  #about-us .about-us__image {
    display: none;
  }
  #about-us .about-us__info {
    text-align: center;
  }
  #about-us .about-us__info h1 {
    display: inline-block;
  }
  #about-us .about-us__info p {
    width: 90%;
  }
  #about-us .about-us__info .bino-btn {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  #about-us {
    padding: 50px 0;
  }
}

.our-services {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-services__info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 55%;
  padding-top: 110px;
  padding-bottom: 50px;
  background: #202020;
}

.our-services__info .our-services__heading {
  font-family: SourceSans;
  font-size: 36px;
  font-weight: 700;
  color: #f4f5f9;
  text-align: right;
  text-transform: uppercase;
  padding-right: 30px;
  border-right: 6px solid #e74c3c;
  margin-right: 80px;
  margin-bottom: 20px;
}

.our-services__info .our-services__slider_slide {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.our-services__info .our-services__slider_slide .our-services__slide-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.our-services__info .our-services__slider_slide .our-services__slide-block_info {
  width: 450px;
  text-align: right;
  margin-right: 45px;
}

.our-services__info .our-services__slider_slide .our-services__slide-block_info h1 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e74c3c;
  margin: 0;
  margin-bottom: 20px;
}

.our-services__info .our-services__slider_slide .our-services__slide-block_info p {
  margin: 0;
  font-family: SourceSans;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.our-services__info .our-services__slider_slide .our-services__slide-block_image {
  width: 75px;
  height: 75px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 75px;
  background: #fff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.our-services__image {
  width: 45%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: url(../img/our-services__image.jpg) no-repeat center/cover;
}

.slick-dots__our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.slick-dots__our-services li {
  list-style: none;
}

.slick-dots__our-services li button {
  font-size: 0;
  width: 34px;
  height: 1px;
  border: none;
  background: #3e3e3e;
  margin-right: 10px;
  outline: none;
  padding: 0;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.slick-dots__our-services li button:hover {
  background: #bf2718;
}

.slick-dots__our-services li:last-child button {
  margin-right: 0;
}

.slick-dots__our-services li.slick-active button {
  background: #e74c3c;
  height: 2px;
}

@media only screen and (max-width: 1199px) {
  .our-services__info .our-services__slider_slide .our-services__slide-block_info {
    width: 325px;
  }
}

@media only screen and (max-width: 991px) {
  .our-services__info {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .our-services__info .our-services__heading {
    display: inline-block;
    margin-right: 0;
  }
  .our-services__info .our-services__slider_slide {
    width: 90% !important;
  }
  .our-services__info .our-services__slider_slide .our-services__slide-block_info {
    width: 450px;
  }
  .our-services__image {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .our-services__info {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .our-services__info .our-services__slider_slide .our-services__slide-block_info {
    width: 325px;
  }
}

@media only screen and (max-width: 575px) {
  .our-services__info .our-services__slider_slide .our-services__slide-block_info {
    width: 90%;
    margin-right: 0;
  }
  .our-services__info .our-services__slider_slide .our-services__slide-block_image {
    display: none;
  }
  .slick-dots__our-services {
    left: -55px;
  }
}

.section-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-title__heading {
  margin: 0;
  font-family: SourceSans;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
}

.section-title__discr {
  margin: 30px 0;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

#works {
  padding-top: 100px;
}

#works .works-categories {
  padding: 0;
  margin: 0 auto;
  margin-top: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#works .works-categories li {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
}

#works .works-categories__divider {
  font-weight: 400;
  margin: 0 15px;
  cursor: default;
}

#works .works-categories__category {
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

#works .works-categories__category:hover {
  color: #bf2718;
}

#works .our-works {
  margin-top: 50px;
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#works .our-works .work__all {
  width: 25%;
  margin: 0 auto;
  position: relative;
}

#works .our-works .work__all img {
  width: 100%;
}

#works .our-works .work__all:hover .work__hover {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#works .our-works .work__all .work__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 76, 60, 0.8);
  padding-left: 10%;
  padding-bottom: 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#works .our-works .work__all .work__hover div {
  width: 45px;
  height: 4px;
  background: #fff;
}

#works .our-works .work__all .work__hover a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: SourceSans;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

#works .our-works .work__all .work__hover a::after {
  content: '';
  display: block;
  width: 0;
  margin: 0 auto;
  height: 3px;
  background: #fff;
  -webkit-transition: width .5s;
  transition: width .5s;
}

#works .our-works .work__all .work__hover a:hover::after {
  width: 100%;
}

#works .our-works .work__all .work__hover span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.works-categories__category_active {
  color: #e74c3c !important;
}

.work-hidden {
  display: none;
}

@media only screen and (max-width: 991px) {
  #works {
    padding-top: 70px;
  }
  #works .our-works .work__all {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .section-title__discr {
    margin: 20px 0;
    width: 90%;
  }
  #works {
    padding-top: 50px;
  }
  #works .works-categories {
    margin-top: 20px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #works .works-categories li {
    margin-top: 10px;
  }
  #works .works-categories__divider {
    margin: 0 10px;
  }
  #works .our-works {
    margin-top: 30px;
  }
  #works .our-works .work__all {
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  #works {
    padding-top: 50px;
  }
  #works .works-categories {
    padding: 0 15px;
    margin-top: 20px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #works .works-categories li {
    margin-top: 10px;
  }
  #works .works-categories__divider {
    margin: 0 10px;
  }
  #works .our-works {
    margin-top: 30px;
  }
  #works .our-works .work__all {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  #works .our-works .work__all {
    width: 100%;
  }
}

.section-study {
  width: 100%;
  padding: 120px 0;
  background: #f4f5f9;
}

.section-study__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 65px;
}

.section-study__block-info {
  z-index: 10;
  background: #fff;
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}

.section-study__block-info .study-slider {
  outline: none;
  padding: 0;
}

.section-study__block-info .study-slider__slide {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-study__block-info .study-slider__slide-square {
  margin-top: 50px;
  margin-bottom: 45px;
  width: 75px;
  height: 75px;
  border-radius: 3px;
  background: #e74c3c;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section-study__block-info .study-slider__slide-square img {
  -webkit-filter: brightness(500%);
  filter: brightness(500%);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section-study__block-info .study-slider__slide-title {
  margin: 0;
  font-family: SourceSans;
  font-size: 28px;
  font-weight: 600;
  color: #6a6a6a;
  text-transform: uppercase;
}

.section-study__block-info .study-slider__slide-divider {
  width: 42px;
  height: 2px;
  background: #888;
  margin: 30px 0;
}

.section-study__block-info .study-slider__slide-discr {
  font-family: SourceSans;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  width: 75%;
  margin: 0;
  margin-bottom: 50px;
}

.section-study__block-info .study-slider__slide .bino-btn {
  padding: 20px 40px;
  margin-bottom: 115px;
}

.section-study__block-image {
  margin-left: -95px;
}

.section-study__block-image img {
  width: inherit;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots__study-slider {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
}

.slick-dots__study-slider li {
  list-style: none;
}

.slick-dots__study-slider li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  background: #e4e6f0;
  border-radius: 7px;
  margin-right: 10px;
  outline: none;
  padding: 0;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.slick-dots__study-slider li button:hover {
  background: #bf2718;
}

.slick-dots__study-slider li:last-child button {
  margin-right: 0;
}

.slick-dots__study-slider li.slick-active button {
  background: #e74c3c;
}

@media only screen and (max-width: 1200px) {
  .section-study {
    padding: 100px 0;
  }
  .section-study__block-image {
    margin-left: -90px;
  }
  .section-study__block-image img {
    width: 120%;
  }
}

@media only screen and (max-width: 991px) {
  .section-study {
    padding: 75px 0;
  }
  .section-study__block {
    margin-top: 50px;
  }
  .section-study__block-info {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .section-study__block-image {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .section-study {
    padding: 50px 0;
  }
  .section-study__block {
    margin-top: 40px;
  }
  .section-study__block-info {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .section-study__block-info .study-slider__slide-discr {
    width: 80%;
  }
  .section-study__block-image {
    display: none;
  }
}
