@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: SourceSans;
  src: url(../fonts/source_sans/SourceSansPro-ExtraLight.ttf);
  font-weight: 200;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 60px;
  padding-top: 18px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  margin-top: 18px;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #e74c3c;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover {
  color: #e74c3c;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bino-btn {
  display: inline-block;
  text-align: center;
  border: none;
  background: #e74c3c;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.bino-btn:hover {
  background: #d62c1a;
}

.divider {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}

.divider__line {
  width: 80px;
  height: 1px;
  background: #999;
}

.divider__circle {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #e74c3c;
  margin: 0 14px;
}

header {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
}

header .top-header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  padding: 40px 0;
}

header .header-slider {
  width: inherit;
}

header .header-slider__slide {
  width: inherit;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  text-align: center;
  color: #fff;
}

header .header-slider__slide::before {
  background: rgba(0, 0, 0, 0.7);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

header .header-slider__slide * {
  z-index: 10;
}

header .header-slider__slide h2 {
  margin: 0;
  margin-top: 325px;
  margin-bottom: 50px;
  font-family: SourceSans;
  font-size: 24px;
  font-weight: 400;
}

header .header-slider__slide h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

header .header-slider__slide .divider {
  margin: 45px 0;
}

header .header-slider__slide .divider__line {
  background: #f1ebe7;
}

header .header-slider__slide p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #cbc6c0;
  width: 35vw;
}

header .header-slider__slide .header-btn {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-bottom: 260px;
}

header .header-slider__slide .header-btn .bino-btn {
  width: 225px;
}

header .header-slider__slide .header-btn .header-btn_learn {
  margin-left: 30px;
  background: transparent;
  border: 2px solid #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

header .header-slider__slide .header-btn .header-btn_learn:hover {
  border: 2px solid #d62c1a;
  background: #d62c1a;
}

header .header-slider__slide_01 {
  background: url(../img/header__bg_01.jpg) no-repeat center/cover;
}

header .header-slider__slide_02 {
  background: url(../img/header__bg_02.jpg) no-repeat center/cover;
}

header .header-slider__slide_03 {
  background: url(../img/header__bg_03.jpg) no-repeat center/cover;
}

header .header-triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 123px solid #fff;
}

header .header-triangle__left {
  left: 0;
  border-left: 0px solid transparent;
  border-right: 50vw solid transparent;
}

header .header-triangle__right {
  right: 0;
  border-left: 50vw solid transparent;
  border-right: 0px solid transparent;
}

header .header-slider__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 3px;
  background: #6f6863;
  color: #3d3630;
  cursor: pointer;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

header .header-slider__nav i {
  font-size: 35px;
}

header .header-slider__nav:hover {
  color: #fff;
  background: #e74c3c;
}

header .header-slider__nav_next {
  right: 2.5%;
}

header .header-slider__nav_prev {
  left: 2.5%;
}

header .header-down__icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
  transform: translate(-50%, 40%);
  width: 73px;
  height: 73px;
  background: #f4f5f9;
  border: 5px solid #e74c3c;
  border-radius: 73px;
  cursor: pointer;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .7s;
  transition: all, .7s;
}

header .header-down__icon img {
  -webkit-transition: all, .5s;
  transition: all, .5s;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

header .header-down__icon:hover {
  background: #e74c3c;
}

header .header-down__icon:hover img {
  -webkit-filter: brightness(400%);
  filter: brightness(400%);
}
