// to compile...

@import "./_components/_open-sans.scss";
@import "./_components/_source-sans.scss";

$red: #e74c3c;

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bino-btn {
  display: inline-block;
  text-align: center;
  border: none;
  background: $red;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    background: darken($red, 10%);
  }
}

.divider {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;

  &__line {
    width: 80px;
    height: 1px;
    background: #999;
  }

  &__circle {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: $red;
    margin: 0 14px;
  }
}

header {
  position: relative;
  width: 100%;

  .top-header {
    position: absolute;
    top: 0;
    z-index: 100;
  }

  .header-slider {
    width: inherit;

    &__slide {
      width: inherit;
      position: relative;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      text-align: center;
      color: #fff;

      &::before {
        background: rgba(0, 0, 0, 0.7);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      * {
        z-index: 10;
      }

      h2 {
        margin: 0;
        margin-top: 325px;
        margin-bottom: 50px;
        font-family: SourceSans;
        font-size: 24px;
        font-weight: 400;
      }

      h1 {
        margin: 0;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .divider {
        margin: 45px 0;

        &__line {
          background: #f1ebe7;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: #cbc6c0;
        width: 35vw;
      }

      .header-btn {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 70px;
        margin-bottom: 260px;

        .bino-btn {
          width: 225px;

        }

        .header-btn_learn {
          margin-left: 30px;
          background: transparent;
          border: 2px solid #fff;
          -webkit-transition: all, .5s;
          transition: all, .5s;

          &:hover {
            border: 2px solid #d62c1a;
            background: #d62c1a;
          }
        }
      }

      &_01 {
        background: url(../img/header__bg_01.jpg) no-repeat center / cover;
      }

      &_02 {
        background: url(../img/header__bg_01.jpg) no-repeat center / cover;
      }

      &_03 {
        background: url(../img/header__bg_01.jpg) no-repeat center / cover;
      }
    }
  }

  .header-triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 123px solid #fff;
  }

  .header-triangle__left {
    left: 0;
    border-left: 0px solid transparent;
    border-right: 50vw solid transparent;
  }

  .header-triangle__right{
    right: 0;
    border-left: 50vw solid transparent;
    border-right: 0px solid transparent;
  }

  .header-slider__nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background: #6f6863;
    color: #3d3630;
    cursor: pointer;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all, .5s;
    transition: all, .5s;

    i {
      font-size: 35px;
    }

    &:hover {
      color: #fff;
      background: $red;
    }
  }

  .header-slider__nav_next {
    right: 0;
  }

  .header-down__icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
    width: 73px;
    height: 73px;
    background: #f4f5f9;
    border: 5px solid $red;
    border-radius: 73px;
    cursor: pointer;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all, .7s;
    transition: all, .7s;

    img {
      -webkit-transition: all, .7s;
      transition: all, .7s;
    }

    &:hover {
      background: $red;

      img {
        -webkit-filter: brightness(400%);
                filter: brightness(400%);
      }
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
