// to compile...

$red: #e74c3c;

@import "./_components/_open-sans.scss";
@import "./_components/_source-sans.scss";
@import "./_components/_nav-bar.scss";


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bino-btn {
  display: inline-block;
  text-align: center;
  border: none;
  background: $red;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    background: darken($red, 15%);
  }
}

.divider {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;

  &__line {
    width: 80px;
    height: 1px;
    background: #999;
  }

  &__circle {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: $red;
    margin: 0 14px;
  }
}

header {
  position: relative;
  width: 100%;

  .top-header {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 100;
    padding: 40px 0;

    &__block {
      width: inherit;
      margin: 0 auto;
    }
  }

  .header-slider {
    width: inherit;

    &__slide {
      width: inherit;
      position: relative;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      text-align: center;
      color: #fff;

      &::before {
        background: rgba(0, 0, 0, 0.7);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      * {
        z-index: 10;
      }

      h2 {
        margin: 0;
        margin-top: 325px;
        margin-bottom: 50px;
        font-family: SourceSans;
        font-size: 24px;
        font-weight: 400;
      }

      h1 {
        margin: 0;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .divider {
        margin: 45px 0;

        &__line {
          background: #f1ebe7;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: #cbc6c0;
        width: 400px;
      }

      .header-btn {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 70px;
        margin-bottom: 260px;

        .bino-btn {
          width: 225px;
        }

        .bino-btn_white {
          margin-left: 30px;
          background: transparent;
          border: 2px solid #fff;
          -webkit-transition: all, .5s;
          transition: all, .5s;

          &:hover {
            border: 2px solid #d62c1a;
            background: darken($red, 15%);
          }
        }
      }

      &_01 {
        background: url(../img/header__bg_01.jpg) no-repeat center / cover;
      }

      &_02 {
        background: url(../img/header__bg_02.jpg) no-repeat center / cover;
      }

      &_03 {
        background: url(../img/header__bg_03.jpg) no-repeat center / cover;
      }
    }
  }

  .header-triangle {
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 0;
    border-bottom: 123px solid #fff;
  }

  .header-triangle__left {
    left: 0;
    border-left: 0px solid transparent;
    border-right: 50vw solid transparent;
  }

  .header-triangle__right{
    right: 0;
    border-left: 50vw solid transparent;
    border-right: 0px solid transparent;
  }

  .header-slider__nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background: #6f6863;
    color: #3d3630;
    cursor: pointer;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all, .5s;
    transition: all, .5s;

    i {
      font-size: 35px;
    }

    &:hover {
      color: #fff;
      background: $red;
    }
  }

  .header-slider__nav_next {
    right: 2.5%;
  }

  .header-slider__nav_prev {
    left: 2.5%;
  }

  .header-down__icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
    width: 73px;
    height: 73px;
    background: #f4f5f9;
    border: 5px solid $red;
    border-radius: 73px;
    cursor: pointer;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all, .7s;
    transition: all, .7s;

    img {
      -webkit-transition: all, .5s;
      transition: all, .5s;
      -webkit-filter: brightness(100%);
              filter: brightness(100%);
    }

    &:hover {
      background: $red;

      img {
        -webkit-filter: brightness(400%);
                filter: brightness(400%);
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  header {
    .header-triangle {
      border-bottom: 100px solid #fff;
    }
  }
}

@media only screen and (max-width : 991px) {
  header {
    .top-header {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0%;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      z-index: 100;
      padding: 30px 0;

      &__block {
        .header__logo {
          margin-left: 20px;
        }
      }
    }

    .header-slider {
      &__slide {

        h2 {
          margin-top: 280px;
          margin-bottom: 40px;
          font-size: 22px;
        }

        h1 {
          font-size: 48px;
        }

        .divider {
          margin: 40px 0;
        }

        p {
          width: 400px;
        }

        .header-btn {
          margin-top: 60px;
          margin-bottom: 200px;

          .bino-btn {
            width: 195px;
          }
        }
      }
    }

    .header-triangle {
      border-bottom: 75px solid #fff;
    }

    .header-down__icon {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }
}

@media only screen and (max-width : 767px) {
  header {
    .header-slider {
      &__slide {
        h2 {
          margin-top: 175px;
        }
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  header {
    .header-slider {
      &__slide {

        h2 {
          margin-top: 200px;
          margin-bottom: 30px;
          font-size: 18px;
        }

        h1 {
          font-size: 34px;
        }

        .divider {
          margin: 30px 0;
        }

        p {
          width: 250px;
          font-size: 12px;
        }

        .header-btn {
          margin-top: 50px;
          margin-bottom: 150px;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;

          .bino-btn {
            width: 175px;
            font-size: 12px;
          }

          .bino-btn_white {
            margin-left: 0;
            margin-top: 25px;
          }
        }
      }
    }

    .header-triangle {
      border-bottom: 55px solid #fff;
    }

    .header-slider__nav {
      top: 73%;
    }
  }
}

.who-we {
  margin-top: 125px;
  margin-bottom: 80px;

  &-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;

    &__square {
      width: 71px;
      height: 71px;
      border: 1px solid #e5e5e5;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all, .5s;
      transition: all, .5s;
      margin-bottom: 30px;

      img {
        -webkit-transition: all, .5s;
        transition: all, .5s;
      }
    }

    &__title {
      margin: 0;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: #6a6a6a;
      -webkit-transition: all, .5s;
      transition: all, .5s;
    }

    &__line {
      width: 40px;
      height: 1px;
      background: #888;
      margin: 20px 0;
    }

    &__discr {
      font-family: SourceSans;
      font-weight: 400;
      font-size: 14px;
      color: #999;
    }

    &:hover {
      .who-we-block__square {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        border: 1px solid $red;

        img {
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }
      }

      .who-we-block__title {
        color: $red;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .who-we {
    margin-top: 110px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width : 991px) {
  .who-we {
    margin-top: 70px;
    margin-bottom: 50px;

    &-block {
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .who-we {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width : 575px) {
  .who-we {
    &-block {
      &__discr {
        width: 80%;
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 575px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 575px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 575px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 575px) {

}
